<div class="input-group">
  <div class="col-sm-1"></div>
  <div class="col-lg-9">
    <input type="file" class="custom-file-input" id="inputGroupFile04">
    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
  </div>
  <div class="input-group-append col-sm-2">
    <button class="btn btn-outline-secondary" type="button">Upload</button>
  </div>
</div><br>
<div class="row" style="margin-left: 15px; margin-right: 15px">
  <!-- <div class="col-lg-2">
    <label class="control-label">SORT BY</label>
    <div class="list-group">
      <a href="#" class="list-group-item">COLUMN 1</a>
      <a href="#" class="list-group-item">COLUMN 2</a>
      <a href="#" class="list-group-item">COLUMN 3</a>
      <a href="#" class="list-group-item">COLUMN 4</a>
    </div>
  </div> -->
  <div class="col-lg-10">
    <label class="control-label">DATA CONSOLE</label>
    <div align="center" class="well" style="height: 100%">
      <ul class="nav nav-tabs text-center">
        <li style="width: 50%">
          <a aria-expanded="true" href="#home" data-toggle="tab">Table</a>
        </li>
        <li style="width: 50%">
          <a aria-expanded="false" (click)="sidenav.toggle()" data-toggle="tab">Visual</a>
        </li>
      </ul>
      <br>
      <br>
      <app-table></app-table>
      <ul class="pagination">
        <li class="disabled">
          <a href="#">«</a>
        </li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">»</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-2">
    <label class="control-label">CONTROL PANEL</label>
    <div class="list-group">
      <a id="select" onclick="javascript:scrollView()" routerLink="modal/1" class="list-group-item">SELECT</a>
      <a id="insert" routerLink="modal/2" class="list-group-item">INSERT</a>
      <a id="update" routerLink="modal/3" class="list-group-item">UPDATE</a>
      <a id="delete" routerLink="modal/4" class="list-group-item">DELETE</a>
      <app-download></app-download>
    </div>
    <!-- <form class="bs-component">
      <div class="form-group">
        <div class="input-group">
          <span>
            <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">SELECT
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#dropdown1" data-toggle="tab">INSERT</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#dropdown2" data-toggle="tab">UPDATE</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#dropdown3" data-toggle="tab">DELETE</a>
              </li>
            </ul>
          </span>
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label class="control-label">FROM</label>
          <input class="form-control" type="text">
        </div>
      </div>
    </form> -->
  </div>
</div>
<br>
<br>
<div class="col-sm-1"></div>
<div class="col-lg-10" style="margin-left: 15px; margin-right: 15px; width: 100%">
  <router-outlet></router-outlet>
</div>
<div class="col-sm-1"></div>
<app-sidenav></app-sidenav>