<div class="row" style="margin-left: 15px; margin-right: 15px">
  <div class="col-lg-9">
    <label class="control-label">DATA CONSOLE</label>
    <div class="well text-center" style="height: 100%">
      <ul class="nav nav-tabs">
        <li class="active" style="width: 50%">
          <a aria-expanded="true" href="#home" data-toggle="tab">Table</a>
        </li>
        <li class="" style="width: 50%">
          <a aria-expanded="false" href="#profile" data-toggle="tab">Visual</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3">
    <form class="bs-component">
      <div class="form-group">
        <div class="input-group">
          <span>
            <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">SELECT
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#dropdown1" data-toggle="tab">INSERT</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#dropdown2" data-toggle="tab">UPDATE</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#dropdown3" data-toggle="tab">DELETE</a>
              </li>
            </ul>
          </span>
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label class="control-label">FROM</label>
          <input class="form-control" type="text">
        </div>
      </div>
    </form>
  </div>
</div>