<nav>
  <ul class="nav nav-tabs">
    <li class="active">
      <a aria-expanded="true" href="#home" data-toggle="tab">Home</a>
    </li>
    <li class="">
      <a aria-expanded="false" href="#profile" data-toggle="tab">Profile</a>
    </li>
    <li>
      <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#download">Dropdown
      </a>
      <ul class="dropdown-menu">
        <li>
           <a href="#dropdown1" data-toggle="tab">Bacon</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#dropdown2" data-toggle="tab">Zen of Python</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>